#mais1{display: none}
#mais2{display: none}
a{
    text-decoration: none;
    color: #011c1c
}
.listalateral a:active{
 color:lightblue;
}
.btn-abrir{
    
    color:#6E6F66;
    font-size: 25px;
}
a.btn-fechar{
    color:blue;
    font-size: 40px;
    font-weight: bolder;
}
a.btn-fechar:active{
    color:purple;
}
header{
    padding:2px;
}
nav{
    height:100%;
    width: 0px;
    background-color:white;
    border:solid gray;
    border-width: 2px;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
    overflow:hidden;
    overflow:auto;
    transition: width 0.5s;
}
ul.listalateral{
    color:black;
    display:block;
    list-style:none;
    margin-left: -35px;

}
.listalateral ul {
    color:black;
    display:block;
    list-style:none;
    margin-left: 1px;
}
li #academico,#atendimentos,#extensao{
    margin-left: -35px;

}

li #conteudos,#livros,#magazines{
    margin-left: -35px;
}

/*
ul.listalateral :hover{
    background-color:blue;
}*/
main{
    transition: margin-left 0.5s;
}
